body {

    background-color: black;

}

.FlexContent {

    display: flex;
    /* background-color: aqua; */
}

.divLeft {

    display: flex;
    width: 50%;
    align-items: center;
    /* background-color: azure; */

}

.divRight {
    display: flex;
    width: 50%;
    justify-content: end;
    margin-right: 40px;
    align-items: center;
    /* background-color: beige; */


}

nav>a, .divRight>a {


    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;


}
.divfondimg{

    background-image: url("../recursos/imagenes/prison_break.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;

}